{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1 class="mt-4 ml-4">Episode index</h1>
    <div class="container d-flex justify-content-end">
        <a href="{{ path('episode_new') }}" class="btn border-blue text-pink mt-4 mb-4">Create new</a>
    </div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td><img src="{{ episode.photo }}" height="200px" width="300px"></td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">show</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
