{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-md-10 col-lg-10 col-sm-12">
        <div class="row d-flex justify-content-center mt-5 mb-2">
            <h2 class="mt-4 mb-5">🍬🔪🕯 Programs 🕯🔫🍬</h2>
        </div>
        <div class="row justify-content-center">
            {% for program in programs %}
                <div class="card-deck col-sm-12 col-md-3 col-lg-3">
                    <div class="card mb-3 mx-2">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="{{ program.poster }}">
                            <h5 class="card-title mt-4 mb-1"> {{ program.title }} </h5>
                            <p class="paragShop mb-2"> Category: {{ program.category.name }}</p>
                            <p class="card-text mt-3 mb-4"> {{ program.summary }} </p>
                            {% if program.actors is empty %}
                                <p class="text-danger">No actor is added in this program.</p>
                            {% else %}
                                {% for actor in program.actors %}
                                    <p class="card-text">{{ actor.lastname }}, {{ actor.firstname }}</p>
                                {% endfor %}
                            {% endif %}
                             {#<a href="{{ path('wild_show', {'slug': program.slug}) }}" type="submit" name="" value="" class="btn mt-auto">See More</a>#}
                        </div>
                    </div>
                </div>
            {% else %}
                No program found.
            {% endfor %}
            <div class="container d-flex justify-content-center">
            <a href="{{ path('app_index') }}">
                Back to Home.
            </a>
            </div>
        </div>
    </div>
{% endblock %}