{% extends 'base.html.twig' %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body text-dark">
            <h2 class="mt-4">{{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <i id="watchlist" class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist"
               data-href="{{path('wild_program_watchlist', {'id': program.id})}}"></i>
            <p><a href="{{ path('wild_show_program', {'slug': program.slug}) }}">See Seasons</a></p>
        </div>
    </div>
    <div class="card text-black mt-4">
        <h4 class="mt-4 text-red"><strong>Actors :</strong></h4>
    <ul>
        {% for actor in program.actors %}
            <a href="{{ path('wild_show_actor', {'slug': actor.slug}) }}"><li>{{ actor.name }}</li></a>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
    </div>
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
{% block javascripts %}
    <script>
        document.querySelector("#watchlist").addEventListener('click', addToWatchlist);
        function addToWatchlist(event) {
            let watchlistIcon = event.target;
            let link = watchlistIcon.dataset.href;
            fetch(link)
                .then(function(response) {
                    if(watchlistIcon.classList.contains('far')) {
                        watchlistIcon.classList.remove('far');
                        watchlistIcon.classList.add('fas');
                    } else {
                        watchlistIcon.classList.remove('fas');
                        watchlistIcon.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}
